services:
  postgres:
    container_name: postgres
    image: postgres:18
    environment:
      POSTGRES_DB: auth-service-db
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '8081:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres

volumes:
  postgres_data:
  pgadmin_data:
